@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    /* Your custom base styles here */
}


html {
    scroll-behavior: smooth;
}

html, body {
    @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}

.p-listbox {
    border-color: #3e69f4 !important;
}

.p-inputwrapper-focus {
    box-shadow: 0 0 0 1px #3e69f4 !important;
    border-color: #3e69f4 !important;
}

.p-listbox .p-highlight {
    background-color: #3e69f4 !important;
    color: white !important;
}

.p-select-option-selected-color {
    color: #3e69f4 !important;
}

.p-select-option-selected-focus-color {
    color: #3e69f4 !important;
}

